@charset "UTF-8";
/* 
    Em HTML id    = em CSS é # 
    Em HTML Class = em CSS é . 
*/

body {
    background-color: rgb(218, 244, 218);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #123f13;
}

h1#principal {
    text-align: center;
    background-color: #2D6F2E;
    color: white
}

.basico {
    color: #2D6F2E;
}

.intermediario {
    color: #686f2d;
}

.avancado {
    color: #6f2d2d;
}

.destaque {
    background-color: rgba(199, 199, 66, 0.564);
}